repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.5
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: local
    hooks:
      - id: ty
        name: ty (type checker)
        entry: uv run ty check .
        language: system
        types: [ python ]
        pass_filenames: false

#      - id: pytest
#        name: pytest
#        entry: uv run pytest
#        language: system
#        types: [ python ]
#        pass_filenames: false
#        stages: [ pre-push ]  # Run only on push, not on every commit